# Banuka Vidusanka Notebook Python

### d200728

In [2]:
# basic print statement
print("Hello Worlds!")

Hello Worlds!

In [3]:
# I am single line comment
print("I am from comment section")
'''I am from multi line section
Me too
Me too'''

I am from comment section

'I am from multi line section\nMe too\nMe too'

### d200804

In [6]:
# how to use variable in python, lets talk about addition of two nums
'''
int var1, var2, summ;
var1=100;
var2=200;
summ=var1 + var2;
printf("sum is %d", summ)
'''
var1 = 100
var2 = 300
summ = 0
summ= var1 + var2
#print("Sum is" + summ) this will generate error because sum is of type string and summ is of type int
# op1
print("Sum is", summ)
#op2
print("Sum is "+ str(summ))

Sum is 400
Sum is400

In [17]:
# can we check what is the type of variable
var1=100
var2="200"
var3=100.5
var4=True
var5=["a","b","c"]
var6=("a","b","c")
var7={"a","b","c"}
var8={"name": "python", "spec": "PL"}
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))
print(type(var7))
print(type(var8))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [6]:
# how to take multiple variables at one time
# var1=100
# var2=100
# var3=100
var1=var2=var3=100 # short notation - 1
print(var1) #100
print(var2) #100
print(var3) #100
print("========")
var1=100
var2=200
var3=300
var1, var2, var3= 100, 200, 300 #shortnotation-2
print(var1) #100
print(var2) #200
print(var3) #300

100
100
100
========
100
200
300

### d200804

In [6]:
#string types
var1 = '1string one line single qote'
var2 = "2string one line double qote"
var3 = '''3string multi 
line 
triple qote'''

print(var1, type(var1))
print(var2, type(var2))
print(var3, type(var3))

1string one line single qote <class 'str'>
2string one line double qote <class 'str'>
3string multi
line
triple qote <class 'str'>

In [20]:
var1 = 'HeLLo'

for i in var1:
    print(i, type(i))
print("-------------")    
for x in range (len(var1)):
    print(var1[x], x, type(x), type(var1[x]))

H <class 'str'>
e <class 'str'>
L <class 'str'>
L <class 'str'>
o <class 'str'>
-------------
H 0 <class 'int'> <class 'str'>
e 1 <class 'int'> <class 'str'>
L 2 <class 'int'> <class 'str'>
L 3 <class 'int'> <class 'str'>
o 4 <class 'int'> <class 'str'>

In [1]:
var1 = 'HeLLo World'
       #0123456789...
       #.9876543210
    
print (var1[0])
print (var1[2:5])
print (var1[:5])
print (var1[4:])
print("------")
print (var1[-5:-2]) 
print (var1[-2:]) #print last 2
print (var1[:-3]) #print except last 3
print("------")
print (var1[2:5:1]) #step value default = 1,

H
LLo
HeLLo
o World
------
Wor
ld
HeLLo Wo
------
LLo

### d200805

In [20]:
varstr = "HelLo my WoRld. Kilo Lots  ll LLxx"

print("\n length is ",len(varstr))

print("\n To upper case: ", varstr.upper() )

print("\n To lower case: ", varstr.lower() )

print("\n replace char l with x :", varstr.replace("l","x")  )

print("\n split string to list of words: ", varstr.split(" "))

 length is  34

 To upper case:  HELLO MY WORLD. KILO LOTS  LL LLXX

 To lower case:  hello my world. kilo lots  ll llxx

 replace char l with x : HexLo my WoRxd. Kixo Lots  xx LLxx

 split string to list of words:  ['HelLo', 'my', 'WoRld.', 'Kilo', 'Lots', '', 'll', 'LLxx']

In [34]:
var1 = "       Hello  my Good    world  "
print(var1)
print("\n splitted to list: \n", var1.split(" ") )


print("\n strip func:\n", var1.strip() )
print("\n rstrip func:\n", var1.rstrip() )
print("\n lstrip func:\n", var1.lstrip() )


print("\n splitted to list: \n", var1.split(" ") )
var2list = var1.split(" ") 
#removes empty and space strings from list
var3list =  ' '.join(var2list).split()
print(var3list)

       Hello  my Good    world

 splitted to list:
 ['', '', '', '', '', '', '', 'Hello', '', 'my', 'Good', '', '', '', 'world', '', '']

 strip func:
 Hello  my Good    world

 rstrip func:
        Hello  my Good    world

 lstrip func:
 Hello  my Good    world

 splitted to list:
 ['', '', '', '', '', '', '', 'Hello', '', 'my', 'Good', '', '', '', 'world', '', '']
['Hello', 'my', 'Good', 'world']

### d200806

In [8]:
var1 = "Hello "
var2 = "World "
var3 = 2020
vartot = var1 + var2 + str(var3)
print (vartot, type(vartot))

var4 = "THis is my new string to test"
var5 = "new"
check = var5 in var4
print (check, type(check))

check2 = var5 not in var4
print (check2, type(check))

Hello World 2020 <class 'str'>
True <class 'bool'>
False <class 'bool'>

In [12]:
##tuples -------------

tuple1 = ("a","x" , 4, "b", "c", "d", "c", True)
print (tuple1, type(tuple1))

print (tuple1[0], type(tuple1[0]))
print (tuple1[-2], type(tuple1[-1]))

print (tuple1[0:3], type(tuple1[0:3]))

eleindx = tuple1.index("c")
print(eleindx, type(eleindx))

#eleindx = tuple1.index("e")  #value not found error will come
#print(eleindx, type(eleindx))

elecount = tuple1.count("c")
print(elecount)

('a', 'x', 4, 'b', 'c', 'd', 'c', True) <class 'tuple'>
a <class 'str'>
c <class 'bool'>
('a', 'x', 4) <class 'tuple'>
4 <class 'int'>
2