# Pandas dataframe

In [1]:
# Introduction of Pandas Dataframes - 1
#IT IS 2-DIMENSIONAL DATA STRUCTURE to present data in the format of dataframes
#Pandas dataframe consists of 3 elements - Rows, Cols and Data

import pandas as pd # importing of pandas into the code

mylist=[1,3,5,9,110,56,89,78,100,1000] #list for dataframe

df=pd.DataFrame(mylist) # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas

print("Len",len(df.index)) # to check the no. of records in dataframe

print("Shape",df.shape[0]) # to check the structure of records in dataframe

print("Top rows",df.head()) # to check top 5 rows of dataframe

print("Complete frame",df) # printing of all records ( rows and cols) from pandas dataframe

Len 10
Shape 10
Top rows      0
0    1
1    3
2    5
3    9
4  110
Complete frame       0
0     1
1     3
2     5
3     9
4   110
5    56
6    89
7    78
8   100
9  1000

In [3]:
# Introduction of Pandas Dataframes - 2
#IT IS 2-DIMENSIONAL DATA STRUCTURE to present data in the format of dataframes
#Pandas dataframe consists of 3 elements - Rows, Cols and Data

#                 C-1, C2, C3, C4

# Row-1: Student \A\- 25, 20, 30 ----> DATA
# Rows and Cols will represnt structure
# Data is the actual carry


import pandas as pd # importing of pandas into the code

mydict={'Name':['A'],
       'CA-1':[25],
        'CA-2':[20],
        'CA-3':[30]
       } #dictionary for dataframe representing student info-1

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas

print("Complete frame--------\n",df) # printing of all records ( rows and cols) from pandas dataframe

Complete frame--------
   Name  CA-1  CA-2  CA-3
0    A    25    20    30

In [5]:
# Introduction of Pandas Dataframes - 3
#IT IS 2-DIMENSIONAL DATA STRUCTURE to present data in the format of dataframes
#Pandas dataframe consists of 3 elements - Rows, Cols and Data

#                 C-1, C2, C3, C4

# Row-1: Student \A\- 25, 20, 30 ----> DATA
# Row-2: Student \B\- 5, 2, 10 ----> DATA
# Row-3: Student \C\- 15, 2, 10 ----> DATA

# Rows and Cols will represnt structure
# Data is the actual carry


import pandas as pd # importing of pandas into the code

mydict={'Name':['A','B','C'],
       'CA-1':[25,5,15],
        'CA-2':[20,2,2],
        'CA-3':[30,10,10]
       } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas

print("Complete frame---\n",df) # printing of all records ( rows and cols) from pandas dataframe

Complete frame---
   Name  CA-1  CA-2  CA-3
0    A    25    20    30
1    B     5     2    10
2    C    15     2    10

In [6]:
# Introduction of Pandas Dataframes - 4 - Filteration of data-1
#IT IS 2-DIMENSIONAL DATA STRUCTURE to present data in the format of dataframes
#Pandas dataframe consists of 3 elements - Rows, Cols and Data

#                 C-1, C2, C3, C4

# Row-1: Student \A\- 25, 20, 30 ----> DATA
# Row-2: Student \B\- 5, 2, 10 ----> DATA
# Row-3: Student \C\- 15, 2, 10 ----> DATA

# Rows and Cols will represnt structure
# Data is the actual carry


import pandas as pd # importing of pandas into the code

mydict={'Name':['A','B','C'],
       'CA-1':[25,5,15],
        'CA-2':[20,2,2],
        'CA-3':[30,10,10]
       } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas

print(df[['Name','CA-1']]) # printing of selected col records ( rows and cols) from pandas dataframe

  Name  CA-1
0    A    25
1    B     5
2    C    15

In [8]:
# Introduction of Pandas Dataframes - 4 - Filteration of data -2
#IT IS 2-DIMENSIONAL DATA STRUCTURE to present data in the format of dataframes
#Pandas dataframe consists of 3 elements - Rows, Cols and Data

#                 C-1, C2, C3, C4

# Row-1: Student \A\- 25, 20, 30 ----> DATA
# Row-2: Student \B\- 5, 2, 10 ----> DATA
# Row-3: Student \C\- 15, 2, 10 ----> DATA

# Rows and Cols will represnt structure
# Data is the actual carry


import pandas as pd # importing of pandas into the code

mydict={'Name':['A','B','C'],
       'CA-1':[25,5,15],
        'CA-2':[20,2,2],
        'CA-3':[30,10,10]
       } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas

df1=df[df[['CA-1']] > 10] # to filter values of CA which are greater than 10
df1=df1.dropna(subset=['CA-1']) # to skip nan

print(df1['CA-1']) # printing of selected col records ( rows and cols) from pandas dataframe

0    25.0
2    15.0
Name: CA-1, dtype: float64

In [26]:
# Introduction of Pandas Dataframes - 5 - How to read data from csv file.

#name	reg	ca1	ca2	ca3

import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas
#read_csv is used to read csv files from the system

print(df) # printing of all rows and cols from csv files

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   NaN  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   NaN   22
4  MNO  5555   NaN   0.0   23

In [17]:
# Introduction of Pandas Dataframes - 5 - How to read subset (cols) of data from csv file.

#name	reg	ca1	ca2	ca3

import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas
#read_csv is used to read csv files from the system

FirstName=df["name"] # to fetch columns by their name in csv file

print(FirstName) # printing of values fetched from the column named as name in excel file
print(".....simple lsit:\n",list(FirstName))

0    ABC
1    DEF
2    GHI
3    JKL
4    MNO
Name: name, dtype: object
.....simple lsit:
 ['ABC', 'DEF', 'GHI', 'JKL', 'MNO']

In [2]:
# Introduction of Pandas Dataframes - 5 - How to read subset (rows) of data from csv file.

#name	reg	ca1	ca2	ca3

import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas
#read_csv is used to read csv files from the system

FirstName= df.iloc[0] # used to print data with its location, here 0 means , first row of the csv file

print(FirstName) # printing of values fetched from the column named as name in excel file

name     ABC
reg     1111
ca1       25
ca2       20
ca3       30
Name: 0, dtype: object

In [22]:
# Introduction of Pandas Dataframes - 5 - How to read subset (rows) of data from csv file.

#name	reg	ca1	ca2	ca3

import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv", index_col="name") # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas
#read_csv is used to read csv files from the system
# index_col is used to set index on column "name".

Matchedval= df.loc["DEF"] # used to print data with its location, here 0 means , first row of the csv file
# use double quotes if data is of type string "ABC"
print(Matchedval) # printing of values fetched from the column named as name in excel file

reg    2222.0
ca1       NaN
ca2      15.0
ca3      30.0
Name: DEF, dtype: float64

In [19]:
# Introduction of Pandas Dataframes - 5 - How to read subset (rows) of data from csv file.

#name	reg	ca1	ca2	ca3

import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv", index_col="reg") # df refers to object of DATAFRAME, pd is the object of Pandas
# DataFrame is basically a constructor used from Pandas
#read_csv is used to read csv files from the system
# index_col is used to set index on column "name".

Matchedval= df.loc[4444] # used to print data with its location, here 0 means , first row of the csv file
# use DIRECT VALUES if data is of type numeric
print(Matchedval) # printing of values fetched from the column named as name in excel file

name    JKL
ca1      18
ca2      25
ca3      22
Name: 4444, dtype: object

In [ ]:
##more stuff Additional-Example - 4- 10-11-2020

In [31]:
# Introduction of Pandas Dataframes - 5 - How to read data from csv file.
import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") 
print(df) # printing of all rows and cols from csv files

df.isnull() #print null places...
#df.notnull()

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   NaN  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   NaN   22
4  MNO  5555   NaN   0.0   23

    name    reg    ca1    ca2    ca3
0  False  False  False  False  False
1  False  False   True  False  False
2  False  False  False  False  False
3  False  False  False   True  False
4  False  False   True  False  False

In [34]:
# Introduction of Pandas Dataframes - 5 - How to read data from csv file.
import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") 
print(df) # printing of all rows and cols from csv files

#df.isnull() #print null places...
df.fillna(0) #fill null with other value

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   NaN  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   NaN   22
4  MNO  5555   NaN   0.0   23

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   0.0  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   0.0   22
4  MNO  5555   0.0   0.0   23

In [39]:
# Introduction of Pandas Dataframes - 5 - How to read data from csv file.
import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") 
print(df) # printing of all rows and cols from csv files

#df.isnull() #print null places...
df.dropna(0) #drop rows with null values

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   NaN  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   NaN   22
4  MNO  5555   NaN   0.0   23

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
2  GHI  3333  15.0   0.0   10

In [38]:
# Introduction of Pandas Dataframes - 5 - How to read data from csv file.
import pandas as pd # importing of pandas into the code

df=pd.read_csv("sample.csv") 
df # printing of all rows and cols from csv files

  name   reg   ca1   ca2  ca3
0  ABC  1111  25.0  20.0   30
1  DEF  2222   NaN  15.0   30
2  GHI  3333  15.0   0.0   10
3  JKL  4444   0.0   NaN   22
4  MNO  5555   NaN   0.0   23

In [ ]:
# Introduction of Pandas Dataframes - 4 - Fetching the contents row wise

import pandas as pd # importing of pandas into the code

mydict={'Name':['A','B','C'],
       'CA-1':[25,5,15],
        'CA-2':[20,2,2],
        'CA-3':[30,10,10]
       } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas

for i,j in df.iterrows(): # to get an each element row wise from dictionary
    print(i, j)
    print("=======================")

In [3]:
# Introduction of Pandas Dataframes - 4 - Fetching the contents col wise - one at a time

import pandas as pd # importing of pandas into the code

mydict={'Name':['A','B','C'],
       'CA-1':[25,5,15],
        'CA-2':[20,2,2],
        'CA-3':[30,10,10]
       } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(mydict) # df refers to object of DATAFRAME, pd is the object of Pandas

cols=list(df) # creating a list of dataframes
for i in cols: # to get an each element col wise from dictionary
    print(df[i][0]) # to print 1st column

A
25
20
30

In [ ]:
##Additional-Example - 5- 11-11-2020

In [ ]:
# how to save data in csv files - variation -1

import pandas as pd # importing of pandas into the code

#Lists of name, ca1, ca2 and ca3
Name=['A','B','C']
CA1=[25,5,15]
CA2=[20,2,2]
CA3=[30,10,10]

dict={'StuName':Name,'CA-1':CA1,'CA-2':CA2, 'CA-3':CA3 } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(dict) # df refers to object of DATAFRAME, pd is the object of Pandas

df.to_csv("sample4.csv") # df object to save csv file in the default location

In [ ]:
# how to save data in csv files - variation -2 ( saving results without any index )

import pandas as pd # importing of pandas into the code

#Lists of name, ca1, ca2 and ca3
Name=['A','B','C']
CA1=[25,5,15]
CA2=[20,2,2]
CA3=[30,10,10]

dict={'StuName':Name,'CA-1':CA1,'CA-2':CA2, 'CA-3':CA3 } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(dict) # df refers to object of DATAFRAME, pd is the object of Pandas

df.to_csv("sample5.csv", index=False) # df object to save csv file in the default location

In [ ]:
# how to save data in csv files - variation -3 ( saving results without any index and any header )

import pandas as pd # importing of pandas into the code

#Lists of name, ca1, ca2 and ca3
Name=['A','B','C']
CA1=[25,5,15]
CA2=[20,2,2]
CA3=[30,10,10]

dict={'StuName':Name,'CA-1':CA1,'CA-2':CA2, 'CA-3':CA3 } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(dict) # df refers to object of DATAFRAME, pd is the object of Pandas

df.to_csv("sample6.csv",header=False, index=False) # df object to save csv file in the default location

In [ ]:
# how to save data in csv files - variation -4 (saving file at user defined location)

import pandas as pd # importing of pandas into the code

#Lists of name, ca1, ca2 and ca3
Name=['A','B','C']
CA1=[25,5,15]
CA2=[20,2,2]
CA3=[30,10,10]

dict={'StuName':Name,'CA-1':CA1,'CA-2':CA2, 'CA-3':CA3 } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(dict) # df refers to object of DATAFRAME, pd is the object of Pandas

df.to_csv("MyFolder/sample7.csv") # df object to save csv file in the default location

In [ ]:
# how to save data in csv files - variation -5 (saving file in user defined order of columns)

import pandas as pd # importing of pandas into the code

#Lists of name, ca1, ca2 and ca3
Name=['A','B','C']
CA1=[25,5,15]
CA2=[20,2,2]
CA3=[30,10,10]

dict={'StuName':Name,'CA-1':CA1,'CA-2':CA2, 'CA-3':CA3 } #dictionary for dataframe representing student info-1 FOR ALL CAs for all students as well

df=pd.DataFrame(dict, columns=['StuName','CA-1','CA-2','CA-3']) # columns we can use to specify the order and requirement in csv file

df.to_csv("MyFolder/sample7.csv", index=False) # df object to save csv file in the default location